$yellow: #fff737;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color: $yellow;
    color: black;
    padding: 20px 20px 20px 20px;
    @include margenes(50px,0px)
}

.btn {
    margin-top: 0px;
    margin-bottom: 0px;

}

footer {
    background-color: aquamarine;
    @include margenes(20px, 0px);
    padding: 10px 10px 0px 10px;
}

.cardStore {
    flex: 1 300px;
    @include margenes(10px,0px );

}

.btn-compra {
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon{
    padding-right: 10px;
}

.card-img-top {
    width: 60%;
    height: 60%;
    margin-left: 60px;
}

.tab-content{
    padding-top: 10px;
}

.boton-contacto{
    margin-top: 20px;
    margin-left: 40%;
}