.jumbotron {
  background-color: #fffa19;
  color: black;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}
.btn {
  margin-top: 0px;
  margin-bottom: 0px;
}
footer {
  background-color: aquamarine;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 10px 10px 0px 10px;
}
.cardStore {
  flex: 1 300px;
  margin-top: 20px;
}
.btn-compra {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-img-top {
  width: 60%;
  height: 60%;
  margin-left: 60px;
}
.tab-content {
  padding-top: 10px;
}
.boton-contacto {
  margin-top: 20px;
  margin-left: 40%;
}
